##Code from papers
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master
Code_nature_paper_transformers
##
__pycache__
lib/__pycache__
*.pyc
##VS code
.vs

## logs

logs
*.log
##Model folder

*.pth
*.pt
*.ckpt
*.pkl
#Plots
*.png
*.eps

#Tensorboard logs
runs
lib/__pycache__/

fig_report/
eval_01/data/