beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/models/VAE_easyAttn_64in_64dmodel_1next_2dim_timeemb_4h_4nb_128ff_reluact_Noneoutact_100Epoch_135000N_TrueES_50P.pt
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/models/pretrained/easyAttn_64in_64dmodel_1next_2dim_timeemb_4h_4nb_128ff_reluact_Noneoutact_100Epoch_135000N_TrueES_50P.pt
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/models/pretrained/LSTM_64in_64dmodel_1next_2dim_Noneemb_128hideen_4nlayer_Noneoutact_100Epoch_135000N_TrueES_50P.pt
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/attns.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/models/pretrained/selfAttn_64in_64dmodel_1next_2dim_timeemb_4h_4nb_128ff_reluact_Noneoutact_100Epoch_135000N_TrueES_50P.pt
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/checkpoints/*.pt
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/configs/__pycache__/easyAttn.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/configs/__pycache__/lstm.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/configs/__pycache__/nomenclature.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/configs/__pycache__/selfAttn.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/configs/__pycache__/vae.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/lib/__pycache__/datas.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/lib/__pycache__/init.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/lib/__pycache__/model.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/lib/__pycache__/pp_space.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/lib/__pycache__/pp_time.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/lib/__pycache__/runner_lantent_predictor.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/lib/__pycache__/runners.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/lib/__pycache__/train.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/models/checkpoints/Re40_smallerCNN_beta0.005_wDecay0_dim2_lr0.0002OneCycleLR1e-05_bs256_epochs1000_bestVal.pth.tar
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/models/checkpoints/Re40_smallerCNN_beta0.005_wDecay0_dim2_lr0.0002OneCycleLR1e-05_bs256_epochs1000_final.pth.tar
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/models/pretrained/Re40_smallerCNN_beta0.005_wDecay0_dim2_lr0.0002OneCycleLR1e-05_bs256_epochs1000.pth.tar
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/AutoEncoder.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/beta_vae.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/easyAttns.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/Embedding.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/EmbedTransformerEncoder.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/FullTransformer.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/layers.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/RevTransformer.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/RNNs.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/Transformer.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/nns/__pycache__/vae.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/res/easyAttn_64in_64dmodel_1next_2dim_timeemb_4h_4nb_128ff_reluact_Noneoutact_100Epoch_135000N_TrueES_50P.npz
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/res/modes_Re40_smallerCNN_beta0.005_wDecay0_dim2_lr0.0002OneCycleLR1e-05_bs256_epochs1000.hdf5
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/chaotic.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/config.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/datas.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/figs_time.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/model.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/plot_time.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/plot.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/plt_rc_setup.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/pp.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/reverse_config.cpython-38.pyc
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master/utils/__pycache__/train.cpython-38.pyc
