##Code from papers
beta-Variational-autoencoders-and-transformers-for-reduced-order-modelling-of-fluid-flows-master
Code_nature_paper_transformers
##
__pycache__
lib/__pycache__

##VS code
.vs

## logs

logs
*.log
##Model folder
models
*.pth

#Plots
*.png
#Tensorboard logs
runs
thesis/project/lib/__pycache__/